{
  "presets": [
    ["env", "react"]
  ],
  "env": {
    "development": {
      "presets": [["env"], "react"]
    },
    "production": {
      "presets": [["env"], "react"]
    },
    "test": {
      "presets": [["env"], "react"]
    }
  }
}
